<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<!-- Fragment head -->
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />    

    <title th:text="${title}">Title</title>
</head>
<!-- fine fragment head -->

<body>
    <!-- inizio navbar -->
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Aulab Chronicle</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a class="nav-link" href="/articles/create">Crea articolo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Link</a>
            </li>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Crea articolo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>

                    <!-- Menu Accesso Dinamico -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Accesso
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li sec:authorize="isAnonymous()"><a class="dropdown-item" th:href="@{/register}">Register</a></li>
                            <li sec:authorize="isAnonymous()"><a class="dropdown-item" th:href="@{/login}">Login</a></li>
                            <li sec:authorize="isAuthenticated()"><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                
                <!-- Testo di Benvenuto visibile solo se l'utente è autenticato -->
                <div class="navbar-text me-3" sec:authorize="isAuthenticated()">
                    Benvenuto: <span th:text="${#authentication.name}">Utente</span>
                </div>                
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" name="keyword" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <!-- fine navbar -->

    <!-- Footer -->
    <footer th:fragment="footer" class="bg-dark text-white pt-4">
        <div class="container">
            <div class="row justify-content-between">
                <!-- Company Info -->
                <div class="col-md-4 mb-3">
                    <a href="/"><h5>Aulab IT</h5></a>
                </div>
                <!-- Contact Info -->
                <div class="col-md-4 mb-3 text-end">
                    <h5>Lavora con noi</h5>
                    <a href="#" class="btn btn-primary">Richiedi</a>
                </div>
            </div>
        </div>
        <div class="bg-secondary text-center py-2">
            <p class="mb-0">&copy; 2024 Aulab Jost. All rights reserved.</p>
        </div>
    </footer>
    <!-- fine del footer -->

    <!-- fragment script bootstrap -->
    <script th:fragment="bootstrapScript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- fine fragment script bootstrap -->

</body>
</html>
